@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
  
    <style>
      @@scope{
        :scope{
          scroll-snap-type: mandatory;
        }
      }
    </style>
    <section class="bg-gray-50 text-black">
      <style>
        @@scope {
          :scope {
            scroll-snap-align: start;
            --grid-color: rgba(0, 0, 0, 0.1);
            --grid-size: 20px;
            background-attachment:fixed;
            background-image: 
              linear-gradient(var(--grid-color) 0.1em, transparent 0.1em),
              linear-gradient(90deg, var(--grid-color) 0.1em, transparent 0.1em),
              linear-gradient(180deg, transparent, blue )
            ;
            background-size: 
              var(--grid-size) var(--grid-size),
              var(--grid-size) var(--grid-size),
              cover
              ;
            background-repeat: repeat, repeat, no-repeat;
            background-position: center, center center;
          }
        }
      </style>
      <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
        <div class="mx-auto max-w-xl text-center">
          <h1 class="text-3xl font-extrabold sm:text-5xl">
            Advect.js
            <strong class="font-extrabold text-red-700 sm:block"> Build Web Components Faster! </strong>
          </h1>

          <p class="mt-4 sm:text-xl/relaxed">
            Make web components without the hassle of setting up a build system. Advect.js is a simple, lightweight
          </p>

          <div class="mt-8 flex flex-wrap justify-center gap-4">
            <a class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
              href="#">
              Get Started
            </a>

            <a class="block w-full rounded px-12 py-3 text-sm font-medium text-red-600 shadow hover:text-red-700 focus:outline-none focus:ring active:text-red-500 sm:w-auto"
              href="#">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </section>

  <section class="container">
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
  <div class="mx-auto max-w-3xl text-center">
    <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">Trusted by eCommerce Businesses</h2>

    <p class="mt-4 text-gray-500 sm:text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolores laborum labore
      provident impedit esse recusandae facere libero harum sequi.
    </p>
  </div>

  <dl class="mt-6 grid grid-cols-1 gap-4 sm:mt-8 sm:grid-cols-2 lg:grid-cols-4">
    <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
      <dt class="order-last text-lg font-medium text-gray-500">Total Sales</dt>

      <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">$4.8m</dd>
    </div>

    <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
      <dt class="order-last text-lg font-medium text-gray-500">Official Addons</dt>

      <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">24</dd>
    </div>

    <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
      <dt class="order-last text-lg font-medium text-gray-500">Total Addons</dt>

      <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">86</dd>
    </div>

    <div class="flex flex-col rounded-lg bg-blue-50 px-4 py-8 text-center">
      <dt class="order-last text-lg font-medium text-gray-500">Downloads</dt>

      <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">86k</dd>
    </div>
  </dl>
</div>
  </section>
 <section class="container">
    <h2>Installation</h2>
    <code>
      npm install advect
    </code>
 </section>
 <section class="container">
    <h2>API / Syntax</h2>
    <code pre="html">
      npm install advect
    </code>
 </section>
