<!-- 
    given a ul/ol element with the id todo_view, the following code will render a list of qna items
    @example
    <qna-list>
    <ul>
        <li>
            <h3>What is the capital of Nigeria?</h3>
            <p>Abuja</p>
        </li>
        <li>
            <h3>What is the capital of Nigeria?</h3>
            <p>Abuja</p>
        </li>
    </ul>
    </qna-list>
-->
<template id="qna-list">
    <script>
        const { view } = refs;
        // when the changes on this component (self) occurs, update the view
        const list = self.firstElementChild;
        if (list.nodeName === 'UL' || list.nodeName === 'OL') {
            const data = [...list.children].map(li => {
                return {
                    question: li.children[0].textContent,
                    answer: li.children[1].textContent
                }
            });
        }else{
            throw new Error('The first child of qna-list must be a ul or ol element', self);
        }
    

    </script>
    <adv-view id="view">
        {{#qna}}
        {{/qna}}
        {{*qna}}
            <div>No QNAs</div>
        {{/qna}}
    </adv-view>
</template>