<section class="max-w-[1300px] px-4">
    @if(block.type == 'rte')
        {{{block.rte}}}
    @end
    @if(block.type == 'md')
        <adv-view render="md" onload="$self.render()">{{{block.md}}}</adv-view>
    @end
    @if(block.type == 'code')
        {{{block.code}}}
    @end
</section>