<template id="page-editor">
    <script type="module">
        // Import a spinner from shoeloace, this just adds the script to the head
        
        // using "import() in scope scripts works but with babylon never loads or its inspector never adds the styles it needs"
        import 'https://unpkg.com/grapesjs';
        const grapes_css = document.createElement('link');
        grapes_css.rel = 'stylesheet';
        grapes_css.href = 'https://unpkg.com/grapesjs/dist/css/grapes.min.css';
        document.head.appendChild(grapes_css);
    
    </script>
    <script>
        const container = document.createElement('div');
        container.id = 'grapes-editor';
        container.slot="container";
        container.setAttribute('no-tw', true);
        self.appendChild(container);
        const scope = {}
       // self.addShadowStyleSheet(grapes_css.sheet);
        const editor = grapesjs.init({
            // Indicate where to init the editor. You can also pass an HTMLElement
            container,
            // Get the content for the canvas directly from the element
            // As an alternative we could use: `components: '<h1>Hello World Component!</h1>'`,
            fromElement: true,
            // Size of the editor
            height: '300px',
            width: 'auto',
            // Disable the storage manager for the moment
            storageManager: false,
            // Avoid any default panel
            panels: { defaults: [] },
        });
        return scope;
    </script>
    <div slot="container">
        
    </div>
</template>