
<script type="text/adv" src="components/todo-item.html"></script>
<!-- data-input -->
<template id="todo-component" data-shadow="open" adv>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
  
  <style>

    form {
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border: 1px solid var(--white);
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
    }
    label{
      display: flex;
      flex-direction: column;
    }
    input{
      padding: 5px;
      margin: 5px;
    }
  </style>
  <script>
    // const onFinishCallback = $adv.cb((namedTodo) => {
    //   console.log(`finished, my guy! - ${namedTodo}`);
    // });
    const { form, input, list } = $self.refs;
    // testing refs
    const onSubmit = (e) => {
      e.preventDefault();
      const newEl = document.createElement("todo-item");
      newEl.setAttribute("data-name", input.value);
      newEl.setAttribute("data-complete", "false");
      list.appendChild(newEl);
      input.value = "";
    };
    return {
      onSubmit,
    };
  </script>
  <div class="todo-wrapper">
    <form part="submit_form" id="form" onsubmit="$scope.onSubmit($event)">
      <slot name="title">
        <h2 class="font-bold">Todos</h2>
      </slot>
      <div>
        <label part for="input">
          <span>Add a todo</span>
          <input id="input" type="text" name="todo-input" class="border-b-2 border-slate-500" required  />
        </label>
        <button class="">Submits</button>
      </div>
    </form>
    <ul id="list">

    </ul>
  </div>
</template>
