<template id="todo-item" adv>
  <style>
    :host {
      li {
        max-width: 300px;
        width: 100%;
        min-height: 60px;
      }

      &[data-complete="true"] {
        & li {
          background-color: color-mix(in srgb, green, transparent);
        }

        & .title {
          text-decoration: line-through;
        }
      }
    }
  </style>

  <li id="item" onload="
      self.data = {
        toggleComplete: () => {
          self.dataset.complete = self.dataset.complete == 'true' ? 'false' : 'true';
          self.refs.completeBtn.innerText = self.dataset.complete == 'true' ? 'Undo' : 'Complete';
        },
        dispatchDelete() {
          self.dispatchEvent(
            new CustomEvent('delete:todo', {
              composed: true,
              bubbles: true,
            detail: {
              todo:self,
            }
          }));
        }
      }
  ">
    <input id="title" class="title" type="text" aria-label="title" onload="{
        el.value = self.dataset.title;
      }" />
    <button id="completeBtn" 
      onload="{el.innerText = self.dataset.complete == 'true' ? 'Undo' : 'Complete'}"
      onclick="self.data.toggleComplete()">

    </button>
    <button id="deleteBtn" onclick="self.data.dispatchDelete()">
      Delete
    </button>
  </li>
</template>