<template id="todo-item" data-shadow="open" adv>
  <data name="name" type="string" value=""></data>    
  <data name="complete" type="boolean" value="false"></data>
  <style>
    todo-item {
     &[data-complete="true"] input {
      text-decoration: line-through;
    }
    }
 
  </style>
  <script>
   
    const { completeBtn, deleteBtn, item } = $self.refs;

    const introTodoAnim = [
        { opacity: 0, height: 0 },
        { opacity: 1, height: 'auto' },
      ];

      const introAnimTiming = {
        duration: 200,
        iterations: 1,
        fill: "both",
     };

    const deleteTodoAnim = [
        { opacity: 1, height: 'auto' },
        { opacity: 0, height: 0 },
      ];

      const deleteAnimTiming = {
        duration: 200,
        iterations: 1,
        fill: "both",
     };

    const completedText = "✅ Finished";
    const incompletedText = "🔥 Finish";

    completeBtn.innerText =  $self.attrs.complete.value
      ? completedText
      : incompletedText;

    const finishTodo = () => {
      $self.attrs.complete.value = true;
      completeBtn.innerText = completedText;
    };
    const unfinishTodo = () => {
      $self.attrs.complete.value = false;
      completeBtn.innerText = incompletedText;
    };

    const introTodo = () => {
      $self.animate(introTodoAnim, introAnimTiming);
    };
    const deleteTodo = () => {
      $self.animate(deleteTodoAnim, deleteAnimTiming).onfinish = () => {
        console.log('delete');
        $self.remove();
      };  
    };

    return {
      finishTodo,
      unfinishTodo,
      deleteTodo,
      introTodo,
    };
  </script>

  <li id="item" onload="{
        $scope.introTodo();
        $self.refs.title.value = $self.attrs.name.value;
  }">
    <input part id="title" class="title" />
    <button id="completeBtn" onclick="{
        if ($self.attrs.complete.value === true) {
            $scope.unfinishTodo()
        }else{
            $scope.finishTodo()
        }
        }"></button>
    <button id="deleteBtn" onclick="$scope.deleteTodo()">Delete</button>
  </li>
</template>