<script type="text/adv" src="components/todo-item.html"></script>
<template id="todo-component" adv>
  <style>
    .todo-wrapper {}
    form {
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border: 1px solid var(--white);
      border-radius: 10px;
      padding: 10px;
      display: flex;
      flex-direction: column;
    }
  </style>
  <div id="wrapper" class="todo-wrapper" onload="
    let todos = [];
      self.addEventListener('delete:todo', (event) => {
        console.log('delete:todo', event.detail);
        todos = todos.filter(todo => todo.id != event.detail.todo.dataset.id);
        event.detail.todo.remove()
        self.refs.view.render({ todos });
      });

      self.data = { 
        todos,
        submitTodo,
       };
  ">
    <form part="submit_form" id="form" 
      onsubmit="
        event.preventDefault();
          todos.push({
            id: todos.length,
            title: self.refs.input.value  
          });
        self.refs.input.value = '';
        self.refs.view.render({ todos });
       ">
      <slot name="title">
        <h2 class="font-bold">Todos</h2>
      </slot>
      <div>
        <label for="input">
          <span>Add a todo</span>
          <input id="input" type="text" name="todo-input" class="border-b-2 border-slate-500" required />
        </label>
        <button class="">Submits</button>
      </div>
    </form>
    <ul id="list">
      <adv-view id="view">
        {{#todos}}
          <todo-item data-title="{{title}}" id="{{id}}" data-id="{{id}}" data-complete="false"></todo-item>
        {{/todos}}
        {{^todos}}
         <li>No todos yet</li>
        {{/todos}}
      </adv-view>
    </ul>
  </div>
</template>