---
import { docPages, type DocPage } from "../../data/docs";
import ComponentAPI from "../../snippets/docs/ComponentAPI.astro";
import CreatingYourFirstComponent from "../../snippets/docs/CreatingYourFirstComponent.astro";
import ElementReferences from "../../snippets/docs/ElementReferences.astro";
import DocsLayout from "../../layouts/DocsLayout.astro"

export const pageInfo: DocPage = {
    name:"Custom Elements",
    index:1,
    slug:'custom-elements'
}
---
<DocsLayout {...Astro.props}>
    <div class="container">
        <section>
            <div class="content">
                <h1 class="title is-1 signature-effect">Creating Elements</h1>
                <div class="block">
                    <p>
                        Creating web components easily is advect's signature Feature.
                    </p>
                </div>
                <hr>
                <CreatingYourFirstComponent/>
            </div>
        </section>
        <hr>
        <ComponentAPI />
        <hr>
        <ElementReferences />
    </div>
</DocsLayout>