---
import InstallingAdvect from "../../snippets/docs/InstallingAdvect.astro";
import AboutAdvect from "../../snippets/docs/AboutAdvect.astro";
import DocsLayout from "../../layouts/DocsLayout.astro";

import { type DocPage } from "../../data/docs";

export const pageInfo:DocPage ={
  name: "Docs Home",
  index:0,
  slug: '/'
}

---

<DocsLayout {...Astro.props}>

  <div class="container">
    <AboutAdvect></AboutAdvect>
    <hr>
    <InstallingAdvect></InstallingAdvect>
    <hr>
  </div>
</DocsLayout>
