---
import CodeExample from "../../components/CodeExample.astro";
---
<h2>Using &lt;for&gt; element</h2>
<p></p>
<div class="columns">
    <div class="column">
        <CodeExample is:raw> &lt;template id="a-loop-example" adv&gt;
    &lt;adv-view ref onload="$this.store.setState({
            users:[
                { name: 'John Wick', email: 'john.wick@assassins.net', status: 'avenging'},
                { name: 'John Cena', email: 'john.cena@cantseeme.org', status: 'invisible'},
                { name: 'John Doe',  email: 'john.doe@unidentified.io', status: 'missing'},
            ]
        })"&gt;
    &lt;output&gt;&lt;/output&gt;
    &lt;template&gt;
        &lt;for data="$self.state.users" name="data" index="user_ind"&gt;
            &lt;div style="display:flex; gap:1em;"&gt;
                &lt;span&gt;{{user_ind}}&lt;/span&gt;
                &lt;span&gt;{{user.name}}&lt;/span&gt;
                &lt;span&gt;{{user.email}}&lt;/span&gt;
                &lt;span&gt;{{user.status}}&lt;/span&gt;
            &lt;/div&gt;
        &lt;/for&gt;                    
    &lt;/template&gt;
    &lt;/adv-view&gt;
&lt;/template&gt;

&lt;a-loop-example /&gt;
</CodeExample>
    </div>
    <div class="column">
        <p>
            The <code>&lt;for&gt;</code> is a virtual element for looping over Arrays and array-like objects
        </p>
        <p>The for element takes 3 attributes</p>
        <ul>
            <li><code>data</code> The data for the for loop. <code>$self</code> in this context refers to the <code>&lt;adv-view&gt;</code> element</li>
            <li><code>name</code> The name to use for value accessed in the loop</li>
            <li><code>index</code> The index of the item loop</li>
        </ul>
    </div>
</div>
