---
import CodeExample from "../../components/CodeExample.astro";
---

<h2>The AdvectView Component</h2>
<CodeExample is:raw>&lt;adv-view&gt;
    &lt;output&gt;
    &lt;!--Results Will render here--&gt;

    &lt;/output&gt;
    &lt;template&gt;
    &lt;!-- The markup you want templated goes here --&gt;

    &lt;/template&gt;
&lt;/adv-view&gt;
</CodeExample>