<!DOCTYPE html hidden>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/themes/dark.css" />
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.16.0/cdn/shoelace-autoloader.js"></script>
  <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@advect/advect"></script>
  <script src="/resources/js/app.js" defer></script>
  <link rel="stylesheet" href="/resources/css/app.css">
  <title>{{ title || "Your default title" }}</title>
  @if ($slots.meta)
    {{{ await $slots.meta() }}}
  @endif
</head>
<body>
  @include('components/layout/header')
  <main>
    {{{ await $slots.main() }}}
  </main>
  @include('components/layout/footer')

</body>
</html>
