@layout.page({ title: `Editor ${ctx?.params?.id}` })


@slot('header')
@layout.header()
@end
@end

@slot('content')
<adv-view onload="">
  <div class="flex" ref="wrapper" onload="{

    }">
    <button title="Play Button">
      Play
    </button>
    <button title="Play Button">
      Save
    </button>
  </div>
</adv-view>

<section class="bg-gray-50">
  @editor.monaco()
  @end
</section>
@end

@slot('footer')
@layout.footer()
@end
@end

@end