:root{
  --nav-height: 60px;
  --nav-border-bottom: linear-gradient(90deg, blue, gray, purple, yellow, green);
  font-size: 16px;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}
:root {
  view-transition-name: root;
}
@view-transition {
  navigation: auto;
}

:not(:defined) {
  opacity: 0;
}
:defined {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
@media (prefers-reduced-motion: reduce) {
  :defined {
    transition: none;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :defined {
    transition: opacity 0.2s ease-in-out;
  }
}


body,html{
  height:100dvh;
  margin:0;
  padding: 0;
}

body{
  position:relative;
  &[ready]{
   & main{
    }
  }
}
header{
  min-height: 60px;
  position:sticky;
  top: 0;
}
main {
  max-height:100dvh;
}

main > section:not(.cover){
  margin-block: 20px;
}

adv-org-hero{
  min-height: 100dvh;

  &:not(:defined) {
  }
  &:defined {
    transition: opacity 0.2s ease-in-out;
    transition-delay:0.5s;
  }

}
