---
import CodeExample from "../components/CodeExample.astro";
---
<div class="container">
    <div class="content">
        <h2>Your First Component</h2>
<CodeExample is:raw>&lt;!--Declare your component, anywhere in html --&gt;
&lt;template id="hello-button" adv&gt;
    &lt;button onclick="$self.sayHello()"&gt; Hello &lt;/button&gt;
    &lt;script type="module"&gt;
    export default class extends AdvectElement {
        sayHello() {
            alert('How's it going!')
        }
    }
    &lt;/script&gt;
&lt;/template&gt;

&lt;!-- Now your all set --&gt;
&lthello-button&gt;&lt/hello-button&gt;
</CodeExample>
    </div>
</div>