---
import CodeExample from "../components/CodeExample.astro";
const title = Astro.props.title ?? ""
---
<div class="container">
    <div class="content">
        {title && title.length > 0 && 
            <h2 class="signature-effect">{title}</h2>
        }
<CodeExample is:raw>&lt;!--Declare your component, anywhere in html --&gt;
&lt;template id="hello-button" root="light" shadow="closed" adv&gt;
    &lt;button ref onclick="$self.sayHello()"&gt; Hello &lt;/button&gt;
    &lt;script type="module"&gt;
    export class HelloButton extends AdvectElement {
        sayHello() {
            alert('How's it going!')
        }
    }
    &lt;/script&gt;
&lt;/template&gt;

&lt;!-- Now your all set --&gt;
&lthello-button&gt;&lt/hello-button&gt;
</CodeExample>
    </div>
</div>