---
import type { DocPage, DocPages } from "../data/docs"

   const docPages = (Astro.props.docPages || []) as DocPages;
---

<nav id="main-nav" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/logo.svg" alt="advect logo" width="80" height="80" />
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="basic-navbar">
        <ion-icon name="menu-outline"></ion-icon>
      </a>
    </div>
  
    <div id="basic-navbar" class="navbar-menu">
      <div class="navbar-start">
     
  
    
        <!-- <a class="navbar-item" href="/blog">
          Blog
        </a> -->
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item is-selected">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div> -->
      </div>
  
      <div class="navbar-end">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/blog">
          Blog
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/docs">
            Documentation
          </a>
          <div class="navbar-dropdown">
            {docPages.filter(p => p.pageInfo.slug != "/" && !p?.pageInfo.hide).map( p => (
              <a class="navbar-item" href={`/docs/${p.pageInfo.slug}`}>
                {p.pageInfo.name}
              </a>
            ))}
        </div>
        </div>  
        <div class="navbar-item">
            <a href="https://github.com/MoveMedia/advect/" target="_blank">
                <ion-icon size="large" name="logo-github"></ion-icon>
            </a>
        </div>
      </div>
    </div>

  </nav>
  <script>
    const nav = document.getElementById('basic-navbar');
    const navToggle = document.querySelector('[data-target="basic-navbar"]') as HTMLButtonElement;
    if (navToggle){
      navToggle.onclick = () =>{
          nav?.classList.toggle('is-active');
      }
    }
  
    window.onresize =()=>{
    //  closeNav();
    }
    document.addEventListener('DOMContentLoaded', () => {
    // Function to highlight the current route link
    function highlightCurrentRoute() {
        const currentRoute = window.location.pathname;
        const navLinks = document.querySelectorAll('#main-nav a');
        navLinks.forEach(link => {
            let activeClass = link.parentElement?.matches('.navbar-dropdown')
              ? 'is-selected'
              : 'active'

            if (link.getAttribute('href') === currentRoute ||  link.getAttribute('href') === currentRoute + '/') {
                link.classList.add(activeClass);
            } else {
                link.classList.remove(activeClass);
            }
        });
    }

    // Run the function on page load
    highlightCurrentRoute();

    // Optional: Update the highlight when the route changes
    window.addEventListener('popstate', highlightCurrentRoute);
});

  </script>
  <style>
    #main-nav { 
      border-bottom:1px solid rgb(41, 39, 57);
      a.active{
        font-weight: bold;
    }
    position:-webkit-sticky; 
    position:sticky;
    top:0;
  }
  </style>

  