---
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import HeaderAssets from "./HeaderAssets.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <HeaderAssets></HeaderAssets>
    <title>Advect Web Components</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSK6ZWSM"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <Header />
    <main>
      <slot />
      <Footer />
    </main>
  </body>
</html>

<script is:inline>hljs.highlightAll();</script>