<footer class="bg-gray-100 grid justify-items-center gap-4 pt-8">
        <div class="flex justify-center text-teal-600">
            <a href="/">
                <span class="sr-only">Home</span>
    
                <img src="/logo.svg" alt="Advect" class="h-8" />
            </a>
        </div>

        <p class="mx-auto max-w-md text-center leading-relaxed text-gray-500 lg:text-left">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt consequuntur amet culpa
          cum itaque neque.
        </p>
      <ul
        class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:mt-0 lg:justify-end lg:gap-12"
      >
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="/playground"> Playground </a>
        </li>
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Docs </a>
        </li>
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Blog </a>
        </li>
      </ul>

    <p class="mt-12 text-center text-sm text-gray-500 lg:text-right">
      Copyright &copy; 2022. All rights reserved.
    </p>
  </div>
</footer>