<header class="bg-white" onload="console.log('header')">
    <script defer>
        window.addEventListener("resize", () => {
            nav_toggle.dataset.open = 'false';
        });
    </script>
    <style>
        @@scope {

            :scope {
                & nav {
                    transition-behavior: allow-discrete;
                    transition: all 0.3s;
                }
            }

            :scope:has([data-open='true']) {
                & nav {
                    display: initial !important;
                    place-self: flex-start;
                    position: absolute;
                    top: 60px;
                    width: 99vw;
                    left: 0;
                    background-color: white;
                }
            }
        }
    </style>
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-12 items-center justify-between">
            <div class="md:flex md:items-center md:gap-12">
                <a class="block text-teal-600" href="/">
                    <span class="sr-only">Home</span>
                    <img src="/logo.svg" alt="Advect" class="h-8" />
                </a>
            </div>

            <div>
                <nav aria-label="Global" class="hidden   md:block md:bg-[transparent] bg-white relative pb-2 w-full">
                    <ul class="grid md:flex items-center gap-6 text-sm">
                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75" href="/"> Home </a>
                        </li>
                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75" href="/playground"> Playground </a>
                        </li>
                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75" href="/docs"> Docs </a>
                        </li>
                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75" href="/blog"> Blog </a>
                        </li>
                    </ul>
                </nav>
                <div class="block md:hidden" id="nav_toggle" onclick="
                this.dataset.open = this.dataset.open === 'true' ? 'false' : 'true';
                        ">
                    <button
                        class="h-full relative  p-2 text-gray-600 transition hover:(text-gray-600/75 bg-gray-100) grid gap-1">
                        <span class="h-1 w-4 rounded origin-center bg-[darkgray]"></span>
                        <span class="h-1 w-4 rounded origin-center bg-[darkgray]"></span>
                        <span class="h-1 w-4 rounded origin-center bg-[darkgray]"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>