<template advect="character-card" root="shadow" shadow="open">
  <datalist>
    <option
      value="https://picsum.photos/200/200"
      name="image"
      type="string"
    ></option>
    <option name="name" type="string" value="Name Goes here" ></option>
  </datalist>
  <layout>
    <div class="char-card">
      <figure class="headshot">
        <img
          src="{$attr.image}"
          alt="image"
          width="200px"
          height="200px"
        />
        <figcaption>{{$attr.name}}</figcaption>
      </figure>
    </div>
  </layout>
  <style>
    @property --sample-prop {
      syntax: "<color>";
      inherits: false;
    }
    .char-card {
      border: 2px solid white;
      border-radius: 1em;
      width: fit-content;
      overflow: hidden;
      padding-bottom: 20px;;
      figure.headshot{
        margin: 0;
        & figcaption{
          font-size: 20px;
        }
      }
    }
  </style>
  <script type="module">
    export default function ({ $state }) {}
  </script>
</template>
