 <template advect="my-component" root="light" >
      <layout>
        <h1>Hello World</h1>
        <h2>None slotted h2</h2>

        <slot name="stuff">
          <h2>No content</h2>
        </slot>
        <table>
          <thead>
            <tr>
              <td>#</td>
              <td>Name</td>
              <td>Age</td>
              <td>Height</td>
            </tr>
          </thead>
          <tbody>
              <tr ind="{di}" adv-for="d,di of $.data">
                <td>{{di}}</td>
                <td>{{d.name}}</td>
                <td>{{d.age}}</td>
                <td>{{d.height}} cm</td>
              </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </layout>
      <script type="module">
        export default function ({ $, $el, $props, $refs, $attr, $internals }) {
          console.log($props)
          $.data = [
            {name : 'John', age: 22, height: '172'},
            {name : 'Carl', age: 22, height: '142'},
            {name : 'Laura', age: 22, height: '152'},
          ]
        }
      </script>
    </template>