 <template advect="my-component" root="shadow" shadow="open" >
      <datalist>
        <option name="message" value="Unset Message" type="" set="attribute"></option>
        <option name=""></option>
      </datalist>
      <layout>
        <h1>Hello World</h1>
        <slot name="stuff">
          <h2>No content</h2>
        </slot>
        <table>
          <thead>
            <tr>
              <td>#</td>
              <td>Name</td>
              <td>Age</td>
              <td>Height</td>
            </tr>
          </thead>
          <tbody>
              <tr adv-for="d,di of $.data" ind="{di}">
                <td>{{di}}</td>
                <td>{{d.name}}</td>
                <td>{{d.age}}</td>
                <td>{{d.height}} cm</td>
              </tr>
          </tbody>
          <tfoot></tfoot>
        </table>
      </layout>
      <style>
        
      </style>
      <script type="module">
        export default function ({ $, $el, $props, $refs, $attr, $internals }) {
          $.data = [
            {name : 'John', age: 22, height: '172'},
            {name : 'Carl', age: 22, height: '142'},
            {name : 'Laura', age: 22, height: '152'},
          ]

          return {
            onWatchedAttrChanged(){
              console.log('attr changed')
            }
          }
        }
      </script>
    </template>