:not(:defined) {
  opacity: 0;
}
:defined {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
  :defined {
    transition: none;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :defined {
    transition: opacity 0.2s ease-in-out;
  }
}
:root {
  font-size: 20px;
  --primary: #7d0000;
  --secondary: #010020;
  --tertiary: #ddd;
  --container-width: 920px;

}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
  margin: 0;

}
body {
  max-width: 1920px;
  margin-inline: auto;
  }

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
}
ul {
  list-style: disc;
  & li {
    margin-left: 1rem;
  }
}
a {
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
  &:hover {
    text-decoration: underline;
    
  }

}


.container{
  margin-inline: auto;
  max-width:var(--container-width, 1200px);

}

section {
  padding-inline: 1rem;
  &:not(:first-of-type) {
    margin-top: 1rem;
  }
  &:not(:last-of-type) {
    &::after {
      content: "";
      display: block;
      height: 1px;
      background-color: var(--tertiary);
      margin-top: 1rem;
    }
    margin-bottom: 1rem;
  }
}

code {
  background-color: #111;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-size: 0.9rem;
  color: #fff;
  &:before {
    content: attr(pre);
    color: #fff;
    font-size: 0.8rem;
    margin-right: 0.2rem;
  }
}