<template id="todo-component" adv>
    <style>
        @scope{
            :scope{
                padding:20px;
            }
        }
    </style>
    <script>
        // "self", "refs", "data", "states" are injected here
        // self: the component itself
        // refs: references to elements in the component
        // data: a reactive object to store data
        // states
        // Reference the elements in the component (any element with an id attributz
        const { todo_view, todo_dialog, new_todo_form, todo_name_input } = refs
        // Define data for the compnent, 
        data.todos = []
        // Define the "scope" of functionality for the component
        const scope = {
            // Function to toggle the complete status of a todo
            // given the li element of the todo toggles the complete status in todos and updates the view
            toggleComplete(todoEl) {
                data.todos.forEach(todo => {
                    if (todo.id === todoEl.dataset.id) {
                        todo.complete = !todo.complete;
                    }
                });
            },
            renameTodo(todoEl, value) {
                data.todos.forEach(todo => {
                    if (todo.id === todoEl.dataset.id) {
                        todo.title = value;
                    }
                });
            },
            // Function to add a todo to the todos array
            addTodo(event) {
                const todo = {
                    id: `todo_${data.todos.length + 1}`,
                    title: todo_name_input.value,
                    complete: false
                }
                data.todos.push(todo);
                new_todo_form.reset()

            },
            // Function to remove a todo from the todos array
            removeTodo(todoEl) {
                self.data.todos = data.todos.filter(todo => todo.id !== todoEl.dataset.id);
            },
        }
        // Render the view with the data, it goes against my philosophy to have this happen automagically
        effect(()=>{
            todo_view.render(data);
            // this comes with all the pitfals of reactivity do not alter data here
            // its like using a setState inside of a useEffect in react
            // could be useful for animations or other side effects if you use a scheduler
            // but like captain planet says "the power is yours"
            // for more for more fined grained control use the built in copy of zustand
        })
        // update the view
        //  we return the scope to make it accessible in to the event handlers of the refs
        return scope;
    </script>
    <dialog id="todo_dialog" class="w-[min(100vw,500px)] h-[min(100vh,500px)]">
        <form id="new_todo_form" method="dialog" onsubmit="scope.addTodo(event)">
            <label for="todo">Enter label</label>
            <input type="text" name="todo" id="todo_name_input" placeholder="Add a todo">
            <input type="submit" value="Submit">
        </form>
    </dialog>
    <section>

        <div>
            <button id="add_btn" class="px-4 py-2 text-white bg-blue-500" onclick="refs.todo_dialog.showModal()">Add Todo</button>
        </div>
        <adv-view id="todo_view">
            <ul class="max-w-[500px]">
                {{#todos}}
                <li id="{{id}}" data-title="{{title}}" data-id="{{id}}" data-complete="{{complete}}"
                    class="flex justify-between mx-5 p-5 text-black">

                    <input id="title_{{id}}" data-id="{{id}}" name=" title {{id}}" value="{{title}}" type="text"
                        class="h-12 px-2" onchange="scope.renameTodo(el.closest('li'), el.value)">
                    <style>
                        @scope {
                            :scope {
                                border: 2px solid var(--text-color, black);
                                &[data-complete="true"] {
                                    color: var(--reverse, black);
                                    & input {
                                        text-decoration: line-through;
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                    </style>
                    <div>
                        <button id="complete_{{id}}" class="button" data-id="{{id}}"
                            onclick="scope.toggleComplete(el.closest('li'))">
                            {{#complete}}
                            <span>
                                Mark incomplete
                            </span>
                            {{/complete}}
                            {{^complete}}
                            <span>
                                Mark complete
                            </span>
                            {{/complete}}
                        </button>
                        <button id="delete_{{id}}" onclick="scope.removeTodo(el.closest('li'))">
                            Delete
                        </button>
                    </div>
                </li>
                {{/todos}}
                {{^todos}}
                <li>No todos yet</li>
                {{/todos}}
            </ul>
        </adv-view>
    </section>
</template>