<template id="todo-component" adv>
    <script>
        // "self", "refs", "data", "states" are injected here
        // self: the component itself
        // refs: references to elements in the component
        // Reference the elements in the component (any element with an id attributz
        const { todo_view, todo_dialog, new_todo_form, todo_name_input } = refs
        // Define data for the compnent, 
        let todos = []// this could also be place on data.todos
        data.todos = todos
        // Define the "scope" of functionality for the component
        const scope = {
            // Function to toggle the complete status of a todo
            // given the li element of the todo toggles the complete status in todos and updates the view
            toggleComplete(todoEl) {
                todos.forEach(todo => {
                    if (todo.id === todoEl.dataset.id) {
                        todo.complete = !todo.complete;
                    }
                });
                this.update();
            },
            renameTodo(todoEl, value) {
                todos.forEach(todo => {
                    if (todo.id === todoEl.dataset.id) {
                        todo.title = value;
                    }
                });
                this.update();
            },
            // Function to add a todo to the todos array
            addTodo(event) {
                const todo = {
                    id: `todo_${todos.length + 1}`,
                    title: todo_name_input.value,
                    complete: false
                }
                todos.push(todo);
                new_todo_form.reset()
                this.update();

            },
            // Function to remove a todo from the todos array
            removeTodo(todoEl) {
                todos = todos.filter(todo => todo.id !== todoEl.dataset.id);
                this.update();
            },
            update() {
                todo_view.render({ todos });
            }
        }

        // update the view
        scope.update();
        //  we return the scope to make it accessible in to the event handlers of the refs
        return scope;
    </script>
    <style>
        input{
            font-size: var(--scale-fluid-2);
        }
        
        .todo-item {
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ccc;

            &[data-complete="true"] input {
                text-decoration: line-through;
            }
        }
    </style>
    <dialog id="todo_dialog">
        <form id="new_todo_form" method="dialog" onsubmit="scope.addTodo(event)">
            <input type="text" name="todo" id="todo_name_input" placeholder="Add a todo">
            <input type="submit" value="Submit">
        </form>
    </dialog>
    <section>

    <div>
        <button id="add_btn" onclick="refs.todo_dialog.showModal()">Add Todo</button>
    </div>
    <adv-view id="todo_view">
        <ul class="max-w-[500px]">
            {{#todos}}
            <li data-title="{{title}}" id="{{id}}" data-id="{{id}}" data-complete="{{complete}}" class="todo-item">
                <input type="text" id="title_{{id}}" name="title {{id}}" value="{{title}}"
                    onchange="scope.renameTodo(el.closest('li'), el.value)">
                <div>
                    <button id="complete_{{id}}" class="button" data-id="{{id}}"
                        onclick="scope.toggleComplete(el.closest('li'))">
                        {{#complete}}
                        <span>
                            Mark incomplete
                        </span>
                        {{/complete}}
                        {{^complete}}
                        <span>
                            Mark complete
                        </span>
                        {{/complete}}
                    </button>
                    <button id="delete_{{id}}"  onclick="scope.removeTodo(el.closest('li'))">
                        Delete
                    </button>
                </div>
            </li>
            {{/todos}}
            {{^todos}}
            <li>No todos yet</li>
            {{/todos}}
        </ul>
    </adv-view>
</section>

</template>