<template id="todo-item" adv>
  <li id="item" onload="
      self.data = {
        toggleComplete: () => {
          self.dataset.complete = self.dataset.complete == 'true' ? 'false' : 'true';
          self.refs.completeBtn.innerText = self.dataset.complete == 'true' ? 'Undo' : 'Complete';
        },
        dispatchDelete() {
          self.dispatchEvent(
            new CustomEvent('delete:todo', {
              composed: true,
              bubbles: true,
            detail: {
              todo:self,
            }
          }));
        }
      }
  ">
    <input id="title" class="title" type="text" aria-label="Todo Title" onload="{
        el.value = self.dataset.title;
      }" />
    <button id="completeBtn" 
      aria-label="Complete Button"
      onload="{el.innerText = self.dataset.complete == 'true' ? 'Undo' : 'Complete'}"
      onclick="self.data.toggleComplete()">
    </button>
    <button 
        aria-label="Delete Button" 
        id="deleteBtn" 
        onclick="data.dispatchDelete()">
      Delete
    </button>
    <button 
      id="statusBtn" 
      hx-get="/components/done.html" 
      aria-label="Get Status" 
      hx-target="[name='status']" 
      hx-swap="innerHTML">
      Get Status
    </button>
    <span name="status">

    </span>
  </li>
  <style>
    :current
    :host  {
      & li {
        max-width: 300px;
        width: 100%;
        min-height: 60px;
      }

      &[data-complete="true"] {
        & li {
          background-color: color-mix(in srgb, green, transparent);
        }

        .title {
          text-decoration: line-through;
        }
      }
    }
  </style>
</template>