<template id="todo-item" adv>
  <script>
    const { completeBtn } = refs;
    const getDeleteEvent = ( todo ) => new CustomEvent('delete:todo', {
      composed: true,
      bubbles: true,
      detail: {
        todo,
      }
    }); 
    // Cash-dom helper not required
      const updateCompleteTxt = () => {
        console.log('updateCompleteTxt');
        $(completeBtn).text($self.data('complete') == 'true' ? 'Undo' : 'Complete');
      };
      const toggleComplete = () => {
        $self.data('complete', $self.data('complete') == 'true' ? 'false' : 'true');
        this.updateCompleteTxt(); //this is scope in this case
      };
      
      $self.trigger(getDeleteEvent($self));

    // this is for your lsp and sanity
    const scope = {
      updateCompleteTxt,
      toggleComplete,
      }
    return scope;
  </script>


  <li id="item">
    <input id="title" class="title" type="text" aria-label="title" onload="{$el.val(self.dataset.title)}" />
    <button id="completeBtn" onclick="scope.toggleComplete()">
    <!-- title set onload -->
    </button>
    <button id="deleteBtn" onclick="scope.dispatchDelete()">
      Delete
    </button>
  </li>
  <style>
    :host {
      li {
        max-width: 300px;
        width: 100%;
        min-height: 60px;
      }

      &[data-complete="true"] {
        & li {
          background-color: color-mix(in srgb, green, transparent);
        }

        & .title {
          text-decoration: line-through;
        }
      }
    }
  </style>
</template>