<template id="todo-item" adv>
  <script>
    const { completeBtn, title } = refs;

    const deleteTodo = () => {
      const deleteEvent = new CustomEvent('delete:todo', {
        composed: true,
        bubbles: true,
        detail: { todo: self }
      });
      // this will trigger the transition
      // when the transition ends, the event will be dispatched

      self.dataset.deleting = true;
      self.addEventListener('transitionend', () => {
        self.dispatchEvent(deleteEvent);
      }, { once: true });
    };

    const dispatchComplete = () => {
      const e = new CustomEvent('complete:todo', {
        composed: true,
        bubbles: true,
        detail: { todo: self }
      });
      self.dispatchEvent(e);
    };


    const updateCompleteTxt = () => {
      completeBtn.textContent = self.dataset.complete == 'true' ? 'Undo' : 'Complete';
    };
    const toggleComplete = () => {
      self.dataset.complete = self.dataset.complete == 'true'
        ? 'false'
        : 'true'

      updateCompleteTxt(); //this is scope in this case
    };

    title.value = self.dataset.title;

    updateCompleteTxt(); //this is scope in this case
    // this is for your lsp and sanity
    const scope = { updateCompleteTxt, toggleComplete, deleteTodo }

    return scope;
  </script>


  <li id="item">
    <input id="title" class="title" type="text" aria-label="title" onload="scope.updateCompleteTxt()" />
    <button id="completeBtn" onclick="scope.toggleComplete()">
      <!-- title set onload -->
    </button>
    <button id="deleteBtn" onclick="scope.deleteTodo()">s
      Delete
    </button>
  </li>
  <style>
  
    :host {
        transition: all 0.3s;
        transition-delay: 0.2s;
        animation: intro 0.3s;
        position:relative;
    }


    :host([data-complete="true"]) {
      input {
        text-decoration: line-through;
        color: white;
        background-color: lightgreen;
      }
    }

    :host([data-deleting]) {
      pointer-events: none;
    }
  </style>
</template>