---
import type { Page, SitePage } from "../data/SitePage";


const {allPages, pagePrefix, pagePath} = Astro.props as {
    allPages:SitePage<Page>[],
    pagePrefix:string,
    pagePath:string,
};

const pages:(SitePage<Page>|undefined)[] = pagePath.split('/')   
    .filter( part => part.length > 0)
    .map( (pp, i) => {
        let aPage:SitePage<Page> | undefined
        if (pp == pagePrefix){
            aPage = allPages.find( p => p.pageInfo.slug == '/')
        }else{
            aPage = allPages.find( p => p.pageInfo.slug == pp)
        }
        return aPage

    })


console.log({pagePrefix, pagePath, allPages, pages})




---

<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
    {pages.map((v,i,a) =>{
        if (i === a.length - 1){
         return <li class="is-active"><a href="#" aria-current="page">{v?.pageInfo.name}</a></li>
        }
        return <li><a href={`/${Astro.props.pagePrefix}/${v?.pageInfo.slug}`}>{v?.pageInfo.name}</a></li>
    })}
    </ul>
  </nav>