<template advect="character-db" root="light">
  <script rel="/components/character/new-character-modal.html"></script>
  <script rel="/components/character/character-card.html"></script>
  <layout>
    <div class="character-db-container">
      <nav class="navbar">
        <input
          class="input"
          ref="dbNameInput"
          type="text"
          value="{state.dbName}"
        />
      </nav>
      <div class="root">
        <div class="details-panel">
          <character-card ref="characterCard"></character-card>
        </div>
        <div class="data-selection">
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <td>#</td>
                <td>Name</td>
                <td>Age</td>
                <td>Height</td>
              </tr>
            </thead>
            <tbody>
              <tr
                adv-for="d,di of state.data"
                ind="{di}"
                onclick="$state.select(d, $this)"
                ref="item"
              >
                <td>{{di}}</td>
                <td>{{d.name}}</td>
                <td>{{d.age}}</td>
                <td>{{d.height}} cm</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <button
                  class="button is-dark"
                  onclick="state.showNewCharacterModal()"
                  ref="newCharacterButton"
                >
                  Add New Character
                </button>
                <button
                  class="button is-dark"
                  onclick="state.refresh()"
                  ref="refreshDB"
                >
                  <span class="icon is-small">
                    <i class="fas fa-sync-alt"></i>
                  </span>
                </button>
                
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <new-character-modal ref="newCharacterModal"></new-character-modal>
    </div>

    <style>
      @import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
      @import "/components/character/character.css";
      @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css";
    </style>
  </layout>
  <style>
    :host {
      display: block;
      height: fit-content;
      padding: 20px;
    }

    .character-db-container {
      container: char-db / size;

      nav {
        padding: 10px;
      }

      --root-display: flex;

      & .root {
        display: var(--root-display);
        padding: 10px;
        gap: 20px;
      }

      .data-selection {
        flex: 1;

        table tbody tr {
          transition: all 0.2s;

          &:hover {
            background-color: blue;
            cursor: pointer;
          }
        }
      }
    }

    @container char-db (width > 700px) {
      .character-db-container {
        & .root {
          --root-display: flex;
          display: var(--root-display);
        }
      }
    }
  </style>
  <script type="module">
    export default function ({ $element, $state, $refs, state }) {
      let CharacterDB = null;
      let createCharacterRecord = null;
      $element.module("/components/character/character.js", (mods) => {
        CharacterDB = mods[0].CharacterDB;
        createCharacterRecord = mods[0].createCharacterRecord;
        state.refresh();
      });


      state.dbName = "Character Database";
      state.selectedRow = null;
      state.data = [];
      state.refresh = () => {
        CharacterDB.getCharacters()
        .then( result => {
          $state.data = result.data;
        });
      };
      
      state.select = async (character, row) => {
        const characterCard = await $refs.characterCard;
        state.selectedData = character;
        characterCard.$vm.setCharacter(character);
      };
      state.showNewCharacterModal = async () => {
        const newCharacterModal = await $refs.newCharacterModal;
        newCharacterModal.$vm.showModal();
      };
      return {};
    }
  </script>
</template>
