
@media (prefers-color-scheme: dark) {
  :root {
    color:#f9f9f9;
    background-color: #213547;
  }
  a:hover {
    color:#f9f9f9;;
  }
  button {
    background-color: #f9f9f9;
  }

  :defined{
    transition: opacity 0.5s;
    transition-delay: 0.5s;
    @starting-style{
      opacity: 1;
    }
  }
  :not(:defined){
    opacity: 0;
  }
}
