---
import type { BlogPage } from "../../data/blog";
import BlogLayout from "../../layouts/BlogLayout.astro";

export const pageInfo:BlogPage = {
    name:'Introducing Advect',
    index: -1,
    blurb:'',
    hide:false
}
---

<BlogLayout>
    <div class="container">
        <div class="content">
            <h1 class="">{pageInfo.name}</h1>
        </div>
    </div>
</BlogLayout>
