<template id="like-button">
  <script>
    const { container } = refs;
    const buttons = Array.from(container.children);
    const steps = 360 / buttons.length;
    buttons.forEach((button, index) => {
      button.onclick = () => {
        buttons.forEach((b) => b.removeAttribute("selected"));
        button.setAttribute("selected", "");
      };
      button.style.setProperty("--delay", `${(index * 0.125) + 0.05}s`);
      button.style.setProperty(
        "--x",
        `calc(${Math.cos((steps * index * Math.PI) / 180) * 50}px)`
      );
        button.style.setProperty(
            "--y",
            `calc(${Math.sin((steps * index * Math.PI) / 180) * 50}px)`
        );

    });
    const scope = {
      selectReaction: function (reaction) {
       
      },
    }
  </script>
  <div id="container" class="container">
    <button class="reaction">😠</button>
    <button class="reaction">🤯</button>
    <button class="reaction">😉</button>
    <button class="reaction" selected>💖</button>
    <button class="reaction">🤡</button>
    <button class="reaction">😓</button>

  </div>
  <style>
    @scope {
      :scope {
        cursor: pointer;
        position: relative;
        display: block;
        width: 1em;
        height: 1em;
        margin-inline: 0.5em 0.75em;
        --bg-size: 2em;

        &:hover {
          --bg-size: 5em;
        }
        &::before {
          content: "";
          position: absolute;
          width: var(--bg-size);
          height: var(--bg-size);
          transform: translate(calc(-50% + 0.65em), calc(-50% + 0.65em));
          transform-origin: center;
          border-radius: 50%;
          background-color: var(--bg-color, #323232);
          transition: all 0.2s ease 0.1s;
          box-sizing: content-box;
        }
        & .container {
            display: flex;
        }
        & .reaction {
          border-radius: 50%;
          background-color: #3e3e3e;

            position: absolute;
            transition: all 0.2s ease-in var(--delay);
            z-index: 10;
            order:1;
            &[selected]{
                z-index:100;
                --z: 10px;
            }
          }
        &:hover {
         
          & .reaction:not([selected]){
            transform: translate(var(--x), var(--y));
          }
        }
      }
    }
  </style>
</template>
