<template  id="adv-org-hero" adv>
  <style>
    .hero {
      height: 100%;

      --grid-color: rgba(0, 0, 0, 0.1);
      --grid-size: 20px;
      scroll-snap-align: start;
      background-attachment: fixed;
      background-image: linear-gradient(
          var(--grid-color) 0.1em,
          transparent 0.1em
        ),
        linear-gradient(90deg, var(--grid-color) 0.1em, transparent 0.1em),
        linear-gradient(180deg, transparent, blue);
      background-size: var(--grid-size) var(--grid-size),
        var(--grid-size) var(--grid-size), cover;
      background-repeat: repeat, repeat, no-repeat;
      background-position: center, center center;
    }
  </style>
  <section class="bg-gray-50 text-black hero flex items-center">
    <div
      class="mx-auto  px-4 py-32 lg:flex lg:items-center"
    >
      <div class="mx-auto max-w-xl text-center">
        <h1 class="text-6xl font-extrabold ">
          <slot name="h1"> My H1 </slot>
        </h1>

        <p class="mt-4 sm:text-xl/relaxed">
          <slot name="blurb"></slot>
        </p>

        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <slot name="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
            totam. Esse, delectus. Nostrum, doloribus illum ratione officiis
            voluptas commodi qui optio at ab ad fuga eveniet reprehenderit id
            veniam. Cupiditate.
          </slot>
        </div>
      </div>
    </div>
  </section>
</template>
