<template id="adv-search" adv>
    <script>

    </script>
    <form class="border-2 b-red rounded-lg px-2" ref="search_input" method="dialog" onsubmit="{
        event.preventDefault();
        let search = $this.querySelector('input').value;
        // let search_url = new URL(window.location.href);
        // search_url.searchParams.set('search', search);
        // window.location.href = search_url;

        refs.search_diag.showModal();
    }">
        <label for="site-search">
            <span class="sr-only">Search</span>
            <input id="site-search" name="site-search" type="text" placeholder="Search" />
        </label>
        <button  type="submit">Search</button>
    </form>
    <dialog ref="search_diag" class="max-w-[800px] h-[80dvh] border-2 rounded-lg relative">
        <div class="bg-white sticky top-[-12px] flex gap-2 justify-between p-2">
            <div>
                <h2>Search Results</h2>
            </div>
            <button type="submit" ref onclick="{
                 refs.search_diag.close();
            }">
                <span class="cursor-pointer" > 
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                  </span>
            </button>
        </div>
        <div class="columns-3">
            <adv-org-card></adv-org-card>
            <adv-org-card></adv-org-card>
            <adv-org-card></adv-org-card>
            <adv-org-card></adv-org-card>
            <adv-org-card></adv-org-card>
        </div>
    </dialog>
</template>